*,
*::after,
*::before {
  margin:0;
  padding:0;
  border:0;
}

a{
  text-decoration:none;
  color:white;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-size:inherit;
  font-weight:inherit;
}

li{
  list-style:none;
}

.list-nav{
  display:flex;
}

.blog-header{
  display:flex;
  background-color:black;
  color:white;
}

.blog-header__left{
  flex:1 1 70%;  
}

.blog-header__right{
  display:flex;
  flex:1 1 30%;
}

.blog-header{
  margin:0 -14px 0 -14px;
}

.blog-header__padding{
/*  padding:14px 0 14px 0;*/
}

.header-blog{
  padding:14px 14px 14px 14px;
}

.header-blog:hover{
  background-color:blue;
}

.header-popup{
  display:inline-block;
  background-color:blue;
  position:relative;
  top:-10px;
  left:100px;
}
.header-blog_visible{
  display:inline-block;
}
