@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../font/Roboto-BlackItalic.woff2') format('woff2'),
    url('../font/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../font/Roboto-Bold.woff2') format('woff2'),
    url('../font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../font/Roboto-BoldItalic.woff2') format('woff2'),
    url('../font/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../font/Roboto-LightItalic.woff2') format('woff2'),
    url('../font/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../font/Roboto-Regular.woff2') format('woff2'),
    url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../font/Roboto-ThinItalic.woff2') format('woff2'),
    url('../font/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../font/Roboto-Black.woff2') format('woff2'),
    url('../font/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../font/Roboto-MediumItalic.woff2') format('woff2'),
    url('../font/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../font/Roboto-Thin.woff2') format('woff2'),
    url('../font/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../font/Roboto-Light.woff2') format('woff2'),
    url('../font/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../font/Roboto-Italic.woff2') format('woff2'),
    url('../font/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../font/Roboto-Medium.woff2') format('woff2'),
    url('../font/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Roboto;
  background-color: #181818;
}

li {
  list-style: none;
}

.list-nav {
  display: flex;
}

.blog-header {
  display: flex;
  background-color: black;
  color: white;

}

.blog-header__left {
  flex: 0 1 60%;
}

.blog-header__right {
  display: flex;
  justify-content: right;
  flex: 0 1 40%;
}

.blog-header {
  margin: 0 -14px 0 -14px;
  flex-wrap: wrap;
}

.blog-header__padding {
  padding: 0 14px 0 14px;
  margin-bottom: 60px;
}

.header-blog {
  padding: 14px 14px 14px 14px;
  color: rgba(255, 255, 255, 0.4);
  background-color: #202020;
}

.header-blog:hover {
  background-color: blue;

}

.header-popup {
  display: none;
  background-color: blue;
  position: absolute;
  top: 45px;
  left: 100px;
  padding: 10px 30px 10px 10px;
}

.header-popup li {
  margin: 0 0 9px 0;
}

.header-blog_visible {
  display: inline-block;
}

.header-blog_hidden:hover .header-popup {
  display: block;
}

.blog-story {
  background-color: green;
  height: 20px;
}

.blog-layer {
  max-width: 600px;
  margin: 0 auto;

}

.blog-reference-image {

  box-sizing: content-box;
}

.reference-blog-image {
  width: 140px;
  height: 195px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.reference-blog-image__title {
  color: white;
  flex: 0 1 80%;
  margin-left: 13px;
  margin-right: 17px;
  margin-top: 14px;
}

.reference-blog-image__date {
  color: white;
  justify-content: right;
  flex: 0 1 20%;
  margin-left: 48px;
  margin-right: 17px;
}

.blog-reference-image__between {
  margin: 0 6.5px 0 6.5px;
}

.image-blog__space {
  margin: 0 -6.5px 0 -6.5px;
  margin-bottom: 30px;
}

.search-blog__space {
  margin-bottom: 30px;
}

.image-blog {
  max-height: 195px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.input-search {
  box-sizing: border-box;
  width: 100%;
  background: #121212;
  color: #D2D2D2;
  height: 74px;
  padding-left: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.search-blog {
  position: relative;
}

.input-submit {
  position: absolute;
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-color: #3137C9;
  border-radius: 50%;
  background-image: url(../img/text-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 15px;
  top: 15px;
}

.input-submit:hover {
  cursor: pointer;
}


.find-image::before {
  position: absolute;
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #EBEBEB;
  background-image: url(../img/photo-search.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 80px;
  top: 15px;
}

.posts-blog {
  background: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.description-post__press {
  padding: 25px 27px;
}

.text-post-title {
  color: #FFFFFF;
}

.text-post-main {
  color: #D2D2D2;
}

.text-post-end {
  display: flex;
  flex-wrap: wrap;
  color: #828282;
}

.text-post-end a {
  color: #107EFF;
}

.text-post-title__space {
  margin-bottom: 15px;
}

.text-post-main__space {
  margin-bottom: 19px;
}

.end-post-date::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C4C4C4;
  position: absolute;
  left: 100px;
  top: 5px;
}

.text-post-end {
  position: relative;
}

.text-post-end {
  display: flex;
  justify-content: space-between;
}

.post-blog__space {
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-footer {
  display: flex;

  justify-content: center;
}

.button-footer-post {
  cursor: pointer;
  box-sizing: border-box;
  padding: 12px;
  width: 40px;
  height: 40px;
  color: #FFF;
  background: #0D0D0D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.button-footer-post:not(:last-child) {
  margin-right: 10px;
}

.post-footer__space {
  margin-bottom: 80px;
  margin-top: 80px;
}

.menu-mobile {
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.menu-mobile__space {
  margin-bottom: 7px;
  margin-left: 15px;
}

.blog-mobile-menu__space {
  margin-top: 10px;
}

@media(min-device-width:680px) {
  .blog-mobile-menu {
    display: none;
  }


}

.end-post__spacing {
  margin-right: 30px;
}

.blog {
  background: #181818;
}

@media(min-device-width:980px) {

  .admin-face-img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(../img/about-happy-face.jpg);
    background-repeat: no-repeat;

  }

  .face-box {
    position: relative;
    top: -13px;
    left: -20px;
    width: 100px;
    height: 100px;
  }

  .about {
    box-sizing: border-box;
    max-width: 300px;
    background-color: #202020;
    box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
    background-image: url(../img/about-background.jpg);
    background-repeat: no-repeat;
    z-index: 2;
  }

  .description-admin {}

  .about__space {
    padding-right: 300px;
  }

  .container {
    display: flex;
  }

  .blog {
    flex: 1 1 680px;
  }

  .header-popup {
    left: 400px;
  }
}

@media(max-device-width:980px) {
  .about {
    display: none;
  }
}

@media(max-device-width:680px) {


  .blog-header__left>.list-nav,
  .blog-header__right>ul {
    display: none;
  }

  .blog-header__left {
    flex: 1 1 60px;
  }

  .blog-search {
    display: none;
  }

  .blog-reference-image {
    flex: 1 1 25%;
  }
}

@media(max-device-width:452px) {

  .blog-reference-image {
    flex: 1 1 33.33%;
  }
}

@media(max-device-width:295px) {

  .blog-reference-image {
    flex: 1 1 50%;
  }
}